:root {
    --search-primary: #{$primary} !important;
  }
.td-max-width-on-larger-screens {
  @include media-breakpoint-up(lg) {
    max-width: 100%;
  }
}
.search-result {
mark {
  padding: 0; // remove the padding of highlight matches.
}
}
a {
  color:#a08002;
  // color: red;
  text-decoration:none
}
// a:hover {
//   color: $primary;
// }
.-bg-orange {
  color: #fff;
}
.display-1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}
.btn-lg {
  --bs-btn-border-radius: 2rem
}
.btn-secondary {
  --bs-btn-color: #fff;
}
// #td-cover-block-0 {
  // background-position: bottom;
  // background-size: contain;
  // height: 60vh; /* Adjust the height as needed */
// }
.footnote-ref, .footnote-backref {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.25);
}
a > code {
  background-color: rgba(0, 0, 0, 0);
}

// start css layouts/partials/next-previous.html
.next-previous-link-box-wrapper {
  --gap: 24px;
  --item-count: 2;
  border-top: 1px solid rgba(0, 0, 0, .25); // opacity 0.25 same as hr
  display: flex;
  grid-gap: var(--gap);
  gap: var(--gap);
  margin-top: 48px;
  padding-top: 56px;
}

.previous {
  text-align: left;
  align-items: flex-start;
}

.next {
  text-align: right;
  align-items: flex-end;
}

.directional-link-box {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  height: 100%;
  padding: 12px;
  // border: 2px solid red;  // TODO
  // border-radius: 5px;
  // background-color: var(--token-color-page-faint);
  flex: 1 1 auto;
  min-width: calc(50% - (var(--gap) / var(--item-count)));
}

a.directional-link-box:hover {
  // border: 2px solid rgba(0, 0, 0, .25); // opacity 0.25 same as hr
  // border-radius: 5px;
  border-radius: 6px;
  background-color: var(--bs-gray-200);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // text-align: center;
  justify-content: center;
  height: 100%;
  padding: 12px;
  // background-color: var(--token-color-page-faint);
}

// .menu a.main-nav-item:hover { }

.next-previous-link-label {
  color: var(--bs-gray-600);
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  // font-family: var(--token-typography-font-stack-text);
  // font-size: var(--token-typography-body-100-font-size);
  // font-weight: var(--token-typography-font-weight-medium);
  line-height: 1rem;
}

.directional-link-box-text {
  color: var(--bs-gray-600);
}

.directional-link-box-icon-previous {
  margin-right: 8px;
}
.directional-link-box-icon-next {
  order: 1;
  margin-left: 8px;
}

.directional-link-box-name {
  font-weight: 700;
  color: black;
}
// end css layouts/partials/next-previous.html
