{{- $parent := .Parent }}
{{- if $parent.Params.categories }}
    {{- $categories := $parent.Params.categories }}
    {{- if gt (len $categories) 0 }}
        {{- $lower_categories := apply $categories "strings.ToLower" "." }}

        {{- if or (in $lower_categories "tutorial") (in $lower_categories "handleiding") }}
        {{- $pages := $parent.Pages.ByWeight }}
        {{- $.Scratch.Set "curPosition" 0 }}
        {{- $.Scratch.Set "index" 0 }}
        {{- range $pages }}
          {{- if eq $ . }}
            {{- $.Scratch.Set "curPosition" ($.Scratch.Get "index") }}
          {{- end }}
          {{- $.Scratch.Add "index" 1 }}
        {{- end }}
        {{- $next := (index $pages (add ($.Scratch.Get "curPosition") 1)) }}
        {{- $prev := (index $pages (sub ($.Scratch.Get "curPosition") 1)) }}
        {{- if not $prev }}
          {{- $prev = $parent }}
        {{- end }}
        {{- if not $next }}
          {{- $next = $parent }}
        {{- end }}

        <div class="next-previous-link-box-wrapper">
        {{- with $prev }}
            <a class="previous directional-link-box" href="{{ .Permalink }}" title="{{ .Params.description }}">
                <span class="next-previous-link-label">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="none" viewBox="0 0 16 16" aria-hidden="true"
                        class="directional-link-box-icon-previous">
                        <path fill="currentColor" d="M7.765 4.045a.75.75 0 10-1.03-1.09L2.237 7.203a.748.748 0 00-.001 1.093l4.499 4.25a.75.75 0 001.03-1.091L4.636 8.5h8.614a.75.75 0 000-1.5H4.636l3.129-2.955z"></path>
                    </svg>
                    <span class="directional-link-box-text">{{ if eq $prev $parent }}Collection Overview{{ else }}Previous{{ end }}</span>
                </span>
                <p class="directional-link-box-name"><strong>{{ .Title }}</strong></p>
            </a>
        {{- end }}
        {{- with $next }}
            <a class="next directional-link-box" href="{{ .Permalink }}" title="{{ .Params.description }}">
                <span class="next-previous-link-label">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="none" viewBox="0 0 16 16" aria-hidden="true"
                        class="directional-link-box-icon-next">
                        <path fill="currentColor" d="M8.235 4.045a.75.75 0 111.03-1.09l4.5 4.25a.75.75 0 010 1.09l-4.5 4.25a.75.75 0 01-1.03-1.09L11.364 8.5H2.75a.75.75 0 010-1.5h8.614L8.235 4.045z"></path>
                    </svg>
                    <span class="directional-link-box-text">{{ if eq $next $parent }}Collection Overview{{ else }}Next{{ end }}</span>
                </span>
                <p class="directional-link-box-name"><strong>{{ .Title }}</strong></p>
            </a>
        {{- end }}
        </div>
      {{- end }}
    {{- end }}
{{- end }}