<p class="reading-time"><i class="fa-solid fa-clock" aria-hidden="true"></i>&nbsp;{{ if gt .ReadingTime 1 }} {{
    .ReadingTime }} {{ T "post_reading_time" }} {{ else }} {{ T "post_less_than_a_minute_read" }} {{ end }},&nbsp;{{ .Params.provisionTime }}&nbsp;provision
</p>