+++
title = "C2 Platform"
linkTitle = "C2 Platform"

+++

{{< blocks/cover title="From Infrastructure-as-Code to Event-driven Automation" image_anchor="top" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://gitlab.com/c2platform/">
		GitLab <i class="fab fa-gitlab ml-2 "></i>
	</a>
	<!--<p class="lead mt-5"></p>-->
	<!--{{< blocks/link-down color="info" >}} -->
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

<div style="display:flex; flex-wrap: wrap; align-items:center;">
	<div style="flex:1;">
	  <p>
      <strong>C2 Platform</strong> is an open automation platform for the Dutch government.
      It supports government organizations in the <i>systematic</i> automation and improvement of IT
      service delivery and management, also referred to as IT4IT. The platform assists in
      the challenging journey of transitioning from <strong>Infrastructure-as-Code</strong>,
      the foundation, to <strong>Event-driven Automation</strong>.
      </p>
      <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/concepts" >}}">
        Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
      </a>
	</div>
	<div style="flex:1; min-width: 300px;">
    {{< image filename="/images/docs/automation.png?width=300px" >}}
	</div>
</div>

{{% /blocks/lead %}}

{{< blocks/section type="row" height="min" color="dark">}}
  {{% blocks/feature icon="fa-brands fa-osi" title="Open, unless" url="docs/concepts/oss"  %}}
  Open software and approach that facilitates the reuse of ideas and code, not
  only within projects but even across different organizations.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-laptop-code" title="Development environment" url="docs/concepts/dev/" %}}
  Experience flexibility and productivity through local development,
  a reality realized by embracing the the
  ["open, unless"]({{< relref path="/docs/concepts/oss" >}}) approach.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fas fa-project-diagram" title="Reference Implementations" url="docs/concepts/ri" %}}
  Unlock the power of the development environment and create fully integrated,
  comprehensive systems. With a few simple commands you can explore for example
  the automation driving deployment and management of a GIS Platform at
  Rijkswaterstaat (RWS).
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-solid fa-wand-sparkles" title="Automation" url="docs/concepts/automation" %}}
  Transforming IT Delivery and Cultivating DevOps & SRE Culture
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fab fa-gitlab" title="GitLab Ultimate" url="docs/concepts/gitlab" %}}
  The most comprehensive version of the GitLab development platform.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-solid fa-book" title="Documentation" url="docs/concepts/doc/" %}}
  Clear and comprehensive documentation that fosters collaboration and optimizes automation projects.
  {{% /blocks/feature %}}

{{< /blocks/section >}}
