+++
title = "C2 Platform"
linkTitle = "C2 Platform"

+++

{{< blocks/cover title="Van Infrastructure-as-Code naar Event-driven Automation" image_anchor="top" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentatie <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://gitlab.com/c2platform/">
		GitLab <i class="fab fa-gitlab ml-2 "></i>
	</a>
	<!--<p class="lead mt-5"></p>-->
	<!--{{< blocks/link-down color="info" >}} -->
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

<div style="display:flex; flex-wrap: wrap; align-items:center;">
	<div style="flex:1;">
	  <p>
		<strong>C2 Platform</strong> is een open automatiseringsplatform voor de Nederlandse overheid.
    Het biedt ondersteuning bij het <i>systematisch</i> automatiseren en verbeteren van IT-servicelevering en -beheer, ook wel bekend als IT4IT.
    Het platform ondersteunt overheidsorganisaties op de uitdagende reis van <strong>Infrastructure-as-Code</strong>, de basis, naar <strong>Event-driven Automation</strong>.
	  </p>
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/concepts" >}}">
      Documentatie <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
	</div>
	<div style="flex:1; min-width: 300px;">
    {{< image filename="/images/docs/automation.png?width=300px" >}}
	</div>
</div>

{{% /blocks/lead %}}

{{< blocks/section type="row" height="min" color="dark">}}
  {{% blocks/feature icon="fa-brands fa-osi" title="Open, tenzij" url="docs/concepts/oss"  %}}
Open software en aanpak faciliteert hergebruik van ideeën en code, niet alleen
binnen projecten, maar zelfs tussen verschillende organisaties.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-laptop-code" title="Ontwikkelomgeving" url="docs/concepts/dev/" %}}
  Ervaar flexibiliteit en productiviteit door middel van lokale ontwikkeling,
  een realiteit die mogelijk wordt door het omarmen van de
  ["open, tenzij"]({{< relref path="/docs/concepts/oss" >}}) benadering.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fas fa-project-diagram" title="Referentie Implementaties" url="docs/concepts/ri" %}}
  Ontgrendel de kracht van de ontwikkelingsomgeving en creëer volledig
  geïntegreerde, uitgebreide systemen. Met een paar eenvoudige commando's kun je
  bijvoorbeeld de automatisering verkennen die de implementatie en het beheer
  van een GIS-platform bij Rijkswaterstaat (RWS) aanstuurt.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-solid fa-wand-sparkles" title="Automation" url="docs/concepts/automation" %}}
  IT-levering transformeren en het bevorderen van de cultuur van DevOps en SRE.
  {{% /blocks/feature %}}

    {{% blocks/feature icon="fab fa-gitlab" title="GitLab Ultimate" url="docs/concepts/gitlab" %}}
   Onbeperkt en ongelimiteerd gebruik van een geavanceerd software development
   platform voor alle disciplines, van versiebeheer tot project management en
   CI/CD-workloads.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-solid fa-book" title="Documentatie" url="docs/concepts/doc/" %}}
  Duidelijke en uitgebreide documentatie die samenwerking bevordert en
  automatiseringsprojecten optimaliseert.
  {{% /blocks/feature %}}

{{< /blocks/section >}}
