{{- $role_name := .Get "role_name" -}}
{{- $subgroup := .Get "subgroup" -}}
{{- $parts := split $role_name "." -}}
{{- $collection := index $parts 1 -}}
{{- $role := index $parts 2 -}}
{{- $url := "" -}}{{/* Initialize the URL variable before using it */}}
{{- if $subgroup -}}
  {{- $url = printf "https://gitlab.com/c2platform/%s/ansible-collection-%s/-/tree/master/roles/%s" $subgroup $collection $role -}}
{{- else -}}
  {{- $url = printf "https://gitlab.com/c2platform/ansible-collection-%s/-/tree/master/roles/%s" $collection $role -}}
{{- end -}}
{{- $icon := .Get "icon" | default "fa-regular fa-arrow-up-right-from-square" -}}
<a href="{{ $url }}" target="_blank" rel="noopener noreferrer">
  <code>{{- $role_name -}}</code>&nbsp;<i class="{{ $icon }}"></i>
</a>
