{{- $path := .Get "path" -}}
{{- $text := .Get "text" -}}

{{- if $text -}}
<a href="{{ $path }}">{{ $text | markdownify }}&nbsp;<i class="fa-solid fa-download"></i></a>
{{- else -}}
<a href="{{ $path }}">{{ $path | markdownify }}&nbsp;<i class="fa-solid fa-download"></i></a>
{{- end -}}
