{{ $ref := .Get "path" }}
{{ $desc := .Get "desc" }}
{{ with .Site.GetPage $ref }}
    {{ $description := .Description }}
    {{- if $desc -}}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>: {{ $description }}
    {{ else }}
        <a title="{{ $description }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
{{ else }}
{{/* Fallback in case the page is not found */}}
<span>Page not found: {{ $ref }}</span>
{{ end }}
